---
import { Icon } from 'astro-icon';

import { SITE } from '~/config.mjs';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'text-muted dark:text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
  iconClassSun = 'w-6 h-6 sun',
  iconNameSun = 'tabler:sun',
  iconClassMoon = 'w-6 h-6 moon',
  iconNameMoon = 'tabler:moon',
} = Astro.props;
---

{
  !(SITE?.defaultTheme && SITE.defaultTheme.endsWith(':only')) && (
    <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
      <Icon name={iconNameSun} class={iconClassSun} />
      <Icon name={iconNameMoon} class={iconClassMoon} />
    </button>
  )
}
